<!-- setting preferences form -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Product</title>
</head>
<body>
    <h1>Find the best provider based on your preference</h1>
    <form id="preference_form" action="{% url 'form_view' %}" method="post">
        {% csrf_token %}
        <label for="price">Price:</label>
        <input type="range" id="price" name="price" min="0" max="100" step="1" required>
        <span id="pricePercentage">50%</span> <br>

        <label for="quality">Quality:</label>
        <input type="range" id="quality" name="quality" min="0" max="100"step="1" required>
        <span id="qualityPercentage">50%</span> <br>

        <label for="delivery">Delivery Delay:</label>
        <input type="range" id="delivery" name="delivery" min="0" max="100"  step="1" required>
        <span id="deliveryDelayPercentage">50%</span> <br>

        <label for="locality_preference">Locality :</label>
        <select id="locality_preference" name="locality_preference" required>
            <option value="" selected disabled>Select Locality</option>
            <option value="National">National</option>
            <option value="International">International</option>
        </select><br>

        <input type="submit" value="Search">
    </form>


    <!-- to display slider % for first 3 preferences -->

    <script>


        function displayPourcentage(sliderId, valueId) {
            const slider = document.getElementById(sliderId);
            const pourcentage = document.getElementById(valueId);

             slider.oninput = function() {
                pourcentage.textContent = this.value + '%';
            }
            // initializatio
            pourcentage.textContent = slider.value + '%';
        }


        // create array of the 3 sliders 

        const sliders = [
            { sliderId: 'price', valueId: 'pricePercentage' },
            { sliderId: 'quality', valueId: 'qualityPercentage' },
            { sliderId: 'delivery', valueId: 'deliveryDelayPercentage' }
        ];

        // foreach loop

        sliders.forEach(

            ({ sliderId, valueId}) =>
            displayPourcentage(sliderId, valueId)

        )

        // to handle err related to user inputs


        document.getElementById('preference_form').onsubmit = function(event) {
            const priceValue = parseInt(document.getElementById('price').value);
            const qualityValue = parseInt(document.getElementById('quality').value);
            const deliveryValue = parseInt(document.getElementById('delivery').value);
            const localityPreference = document.getElementById('locality_preference').value;


            // to make sure sum of percentages is 100
            const total = priceValue + qualityValue + deliveryValue;
            if (total !== 100) {
                event.preventDefault(); // Prevent 
                alert('Sum must be 100% !! ');
                return;
            }

            // to make sure user choosed a locality

            if (localityPreference === "") {
                event.preventDefault(); // Prevent
                alert('Select a locality !!');
                return;
            }

           }




    </script>

</body>
</html>