
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Product</title>
</head>
<body>
    <h1>Find the best provider based on your preference</h1>
    <form action="{% url 'form_view' %}" method="post">
        {% csrf_token %}
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" min="0" max="100" required><br>

        <label for="Quality">Quality:</label>
        <input type="number" id="Quality" name="Quality" min="0" max="100" required><br>

        <label for="delivery">Delivery Delay:</label>
        <input type="number" id="delivery" name="delivery" min="0" max="100" required><br>

        <label for="locality_preference">Locality :</label>
        <select id="locality_preference" name="locality_preference" required>
            <option value="National">National</option>
            <option value="International">International</option>
        </select><br>

        <input type="submit" value="Search">
    </form>
</body>
</html>